:root {
    --bs-main: #008000; /* Đổi màu primary thành xanh lá cây */
    --bs-primary-bg: #f0f0f0; /* Đổi màu nền primary */
}
/* --- đặt màu chính --- */
.color-main{
    color: #ef6351;
}
.bg-main {
    background-color: #ef6351;
}
.btn-main{
    background-color: #ef6351;
}
.btn-main-1{
  width: 200px;
  background-color: #ef6351;
}
.border-main {
    border: 1px solid #ef6351;
}
/* --- đặt màu chính END --- */

body {
  background-color: #ffffff;
}

/* -----------------------------header------------------------------- */
.logo{
  width: 900px;
  margin-right: -1rem;
  
}
/* --------------header end ------------------------------------------- */


/* -------------------------countdown flash sale --------------------------------------- */
    /* general styling */
:root {
  --smaller: .75;
}

.container-countdown {
  color: #333;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-content: center;
}

.container-countdown h3 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: capitalize;
  align-items: center;
  margin: 10px 20px 0 0;
}

.container-countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

.container-countdown li span {
  display: block;
  background-color: #000000;
  padding: 5px;
  color: #f0f0f0;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
/* -------------------------countdown flash sale END --------------------------------------- */


/* ------------------------- category menu -------------------------------------------------- */
.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* ------------------------- category menu END-------------------------------------------------- */

/* ------------------------- product------------------------------------------------------------ */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

/* -------------------------PRODUCT---------------------- */
.container-img {
    position: relative;
    background-color: #ffffff;
}
.container-img .product-img{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.container-img .product-img img:hover {
  transform: scale(1.1);
  transition: ease-in-out .3s;
  -webkit-transition-delay: .3s;
}
.container-img .product-img .sale  {
    position: absolute;
    text-align: start;
    top: 10px; left: -1px; 
    z-index: 1;
}
.container-img .product-img .icons {
    position: absolute;
    bottom: -7rem; left: 1rem; right: 1rem;
    background-color: rgba(251, 251, 251, 0.8);
    padding: 10px;
}
.container-img:hover .product-img .icons{
    bottom: 1rem;
}

/* ---------tên sản phẩm-------------- */
.box { 
  height: 3.5em; /* Chiều cao tương ứng với 2 dòng */
  line-height: 1.75em; /* Chiều cao dòng */
  overflow: hidden; /* ẩn đi nội dung vượt quá kích thước của khung chứa */
  display: -webkit-box;  /* hiển thị của khung chứa văn bản */
  -webkit-line-clamp: 2; /* giới hạn số dòng văn bản được hiển thị trong khung chứa thành 2 dòng. */
  -webkit-box-orient: vertical;/* xác định hướng của khung chứa, vertical để văn bản hiển thị theo chiều dọc. */
  padding: 0 10px;
}
/* --------------------------login / registration---------------------------------- */
.login-background {
  background-image: url(../img/login-bg-3.png);
  background-size: cover; /* Kích thước hình ảnh nền */
  background-position: center; /* Vị trí hiển thị hình ảnh nền */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh nền */
}
/* --------------------------login / registration END---------------------------------- */